.card-container{
    height: 450px;
}
.card-image{
    height: 300px;
}
.product-price{
    width: 100px;
    transform: skew(20deg);
    background-color: #ffea29;
    font-size: 20px;
    padding: 10px 15px;
    min-width: 100px;
    font-weight: bold;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy-button{
    color: white;
     background-color: #0079ba;
     border: none;
     padding: 7px 15px;
     border-radius: 5px;
     font-weight: 600;
}